h1 {
    color: #ff7528;
    padding-left: 30px;
    font-style: italic;
}

.BoxBorder {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #fffbef;
    width: 500px;
    background-color: #fffbef;
    margin-bottom: 10px;
}

.OutfitTitleBox {
    align-items: center;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fffbef;
    border-bottom: 1px solid #fffbef;
}

.OutfitTitleBox button {
    align-self: center;
}

.OutfitTitleBox h1 {
    padding-left: 30px;
}