h1 {
    color: orange;
    padding-left: 30px;
    font-style: italic;
}

.BoxBorder {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    width: 500px;
}