.btn {
    font-size: 16px;
    background-color: #ff7528;
    font-weight: bold;
    border-color: white;
    border-radius: 1rem;
    color: white;
    line-height: 2;
    box-shadow: none;
    outline: none;
}