.OutfitBody1 {
    padding-left: 12px;
    padding-top: 12px;
    font-size: 25px;
    font-weight: bold;
}

.OutfitBody2 {
    padding-left: 24px;
    color: gray;
    font-size: 14px;
}

.OutfitFile {
    
}

.OutfitImg {
    width: 400px;
    height: 400px;
}