.MyNailyLook {
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.WeeklyBestNaily {
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 450px;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.AiNailyTitleContainer {
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 450px;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.AiNailyImgContainer {
    display: flex;
    flex-direction: column;
    width: 480px;
    padding-left: 20px;
}

.OutfitBody1 {
    padding-left: 12px;
    padding-top: 12px;
    font-size: 25px;
    font-weight: bold;
}

.OutfitBody2 {
    padding-left: 24px;
    color: gray;
    font-size: 14px;
}