.BackgroundGray {
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AppContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 500px;
}